
* {
  font-family: 'Times New Roman';
  color:darkslategrey;
}

.photo {
  margin-top: 10px;
  max-width: 20%;
  max-height: 200px;
  position: relative;
  left: 200px;
  border-radius: 50%;
  height:auto  
}

.dot {
  position:relative;
  top: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}

.red-dot {
  background-color: tomato
}

.grey-dot {
  background-color: grey;
}

.title {
  color: rgb(42, 110, 165);
}

.contact {
  font-style:italic
}